<section class="picks">
<a href="#/list">&laquo; Back to List</a>
<ul>
    <li ng-repeat="games in competitors[whichItem].picks">
        <div>
            <h2 class="picks-bowl">{{games.bowl}} Bowl</h2>
            <h4 class="picks-matchup">{{games.team1}} vs {{games.team2}}</h4>
            <h2 class="picks-pick">Pick: {{games.pick}}</h2>
            <h2 class="picks-confidencePoints">Confidence Points: {{games.points}}</h2>
            <hr>
        </div>
    </li> 
</ul>
<a href="#/list">&laquo; Back to List</a>
</section>